.box {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  transition: transform 0.2s;
  flex-shrink: 0;
}

.box-red {
  background-color: #ff4444;
}

.box-green {
  background-color: #44ff44;
}

.box:hover:not([style*="cursor: not-allowed"]) {
  transform: scale(1.05);
  opacity: 0.9;
}

.box:active:not([style*="cursor: not-allowed"]) {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .box {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .box {
    width: 35px;
    height: 35px;
  }
}
